div {
margin-bottom: 10px;

}


.nav {
	height: 100px;
	background-color:blue;
	
}	

.hero {
	height: 300px;
	background-color:yellow;
	float: left;

}	

.about {
	background-color:pink;
	height: 300px;
	width: 60%;
	float: left;
	
}	

.social {
	background-color:orange;
	height: 300px;
	float: left;
	width: 40%;
	
}	

.case {
background-color: red;
clear: both;
height: 300px;
	
}
	
.who {
	background-color:indigo;
	height: 300px;
	width: 33.33%;
	float: left;
	
}	

.what {
	background-color:purple;
	height: 300px;
	float: left;
	width: 33.33%;
	
}

.join {
	background-color:black;
	height: 300px;
	width: 33.33%;
	float: left;
	
}	


		
